* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.1vw;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 2.488em;
}
h2 {
  font-size: 2.074em;
  font-weight: 200;
}
h3 {
  font-size: 1.728em;
}
h4 {
  font-size: 1.44em;
}
h5 {
  font-size: 1.2em;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-sidebar {
  display: flex;
  flex-direction: column;
  width: 17%;
  min-height: 94vh;
  color: white;
  background-image:
  linear-gradient( #6a273a, #351c29);
}
.company-header {
  padding: 1em;
  background-color: #351c29;
  text-align: left;
}
.company-header h2 {
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 2px gray;
}
.user-header {
  display: inline-flex;
  padding: 1em
}
.user-header > span {
  font-size: 1.8em;
  padding: .5em;
  border: solid 1px white;
  border-radius: 1em;
  margin-right: .5em;
}
.sections {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section {
  color: white;
  text-decoration: none;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em 1.5em;
  font-weight: 200;
  cursor: pointer;
}
.sb-button {
  border-top: 1.25px solid #351c29;
  border-bottom: 1.25px solid #6a273a;
}
.section:active {
  background-image:
  linear-gradient( #6a273a, #873D48);
  background-size: cover;
}
.ReactTabs {
  width: 83%;
  background-color: #f7f7f7;
}
.ReactTabs__TabList {
  background-color: #a8a2aa;
  text-align: left;
  margin: 0 !important;
}
.ReactTabs__TabPanel {
  background-color: #f7f7f7;
  padding: 1em 1.5em !important;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ReactTabs__Tab {
  padding: 1em !important;
}
.ReactTabs__Tab--selected {
  background-color: #f7f7f7 !important;
}
.ReactTabs__Tab > span {
  font-size: 1.5em;
  margin-right: .5em;
}
.block {
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.report {
  width: 100%;
}
.interactive-chart {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.interactive-chart h4 {
  padding: 1em 0 .5em 0;
}
.chart > h4 {
  padding-left: 1em;
}
.tooltip {
  background-color: white;
  border: 1px solid #a8a2aa;
  border-radius: 5px;
}
.metric-select, .rate-select {
  width: 15%;
}
.time-group {
  display: inline-flex;
  width: 100%;
  padding-bottom: 1em;
  justify-content: space-between;
}
.headline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: .4em;
  width: 11em;
  padding: .4em;
  margin-bottom: .7em;
}
.card-title {
  color: #E15460;
  font-size: 1.2em;
  font-weight: bolder;
}
.card-value {
  font-size: 1.4em;
  font-weight: 900;
}
.card > div {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.card-change {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 5.6em;
  padding: 0 .2em 0 .2em;
  border-radius: .3em;
  border: 1px solid #a8a2aa;
}
.card-change i {
  font-size: 2.4em;
}
.card-change p {
  font-size: 1.1em;
}
input[type="button"] {
  margin: 0 .25em;
  height: 2em;
  padding: .25em 1.5em;
  border-radius: .5em;
  border: none;
}
input[type="button"]:focus {
  background-image:
  linear-gradient( #6a273a, #873D48);
  background-size: cover;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray;
  font-family: 'Pacifico', cursive;
}
.value-checkbox > label {
  font-size: 2.25em;
}
.value-checkbox {
  font-size: .4em;
  width: auto;
  padding: .5em;
}
.table {
  margin-top: 1em;
}
.table-header {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  padding: 1em;
}
/*.rt-resizable-header-content {
  font-size: .25em important! ;
}*/
.slicer {
  width: 180px;
  margin: 0;
}
.slicer > input[type="button"] {
  position: relative;
  margin: 0;
  width: 100%;
  z-index: 1;
}
.slice-and-dice {
  position: absolute;
  top: 6em;
  padding-top: 2em;
  width: 15em;
  background-color: white;
  border-radius: .5em;
  border: 1px solid #a8a2aa;
}
.slice-group {
  display: flex;
  flex-direction: column;
  margin: .5em;
  border-radius: .5em;
  border: 1px solid #a8a2aa;
}
.slice-group > p {
  padding: .2em;
  background-color: #a8a2aa;
  color: white;
  border-radius: .4em .4em 0 0;
}
.slice-checkbox {
  display: inline-flex;
  justify-content: space-between;
  padding: .25em;
}
.slicer-buttons {
  width: 100%;
  padding: .5em;
  display: inline-flex;
  justify-content: space-around;
}
.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background-color: #a8a2aa;
  padding: 2em;
}
