* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2vw;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #222;
  min-height: 150px;
  padding: 20px;
  color: white;
}

.header h1 {

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main h2 {
  width: 100%;
  padding: 1em;
}
.metric-sidebar {
  /*background-color: blue;*/
  padding: .25em;
  width: 20%;
}
.graphs {
  width: 80%;
}
.metric-checkbox {
  padding: .5em;
  margin: .5em;
  background-color: skyblue;
  text-align: right;
}
.metric-checkbox li {
  list-style: none;
  display: inline;
}
.metric-checkbox input {
  margin-left: .5em;
}
