* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2vw;
}

svg {
  /*background-color: darkslategray;*/
  background-image:
  linear-gradient( 45deg, blue, red);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #222;
  min-height: 50px;
  padding: 20px;
  color: white;
}

.header h1 {

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main h2 {
  width: 100%;
  padding: 1em;
}
.metric-sidebar {
  margin-top: 2.25em;
  /*background-color: blue;*/
  padding: .25em;
  width: 20%;
}
.tabs {
  width: 80%;
}
.metric-checkbox {
  width: auto;
  padding: .5em;
  margin: .5em;
  background-color: skyblue;
  /*text-align: right;*/
}
.metric-checkbox li {
  list-style: none;
  display: inline;
}
/*.metric-checkbox input {
  margin-left: .5em;
}*/
g.tick text {
  fill: white;
}
input[type='checkbox']:checked  {
  background: red;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  /*border: solid 1px black;*/
  border-radius: 5px;
}

.rd3-chart-title {
  padding: .25em;
}
