* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.25vw;
}

h1 {
  font-size: 2.488em;
}
h2 {
  font-size: 2.074em;
  font-weight: 200;
}
h3 {
  font-size: 1.728em;
}
h4 {
  font-size: 1.44em;
}
h5 {
  font-size: 1.2em;
}

svg {
  /*background-color: darkslategray;*/
  /*background-image:*/
  /*linear-gradient( 45deg, blue, red);*/
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-sidebar {
  width: 20%;
  min-height: 94vh;
  color: white;
  background-image:
  linear-gradient( #6a273a, #351c29);
  /*flex: 1 1 auto;*/
}
.company-header {
  padding: 1em;
  background-color: #351c29;
  text-align: left;
}
.user-header {
  display: inline-flex;
  padding: 1em
}
.user-header > span {
  font-size: 2em;
  padding: .3em;
}
.sections {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
}
li.section {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  font-weight: 200;
  cursor: pointer;
}
.sb-button {
  border-top: 1.25px solid #351c29;
  border-bottom: 1.25px solid #6a273a;
}
li.section:active {
  background-image:
  linear-gradient( #6a273a, #873D48);
  background-size: cover;
}
.sign-out {
  margin-top: 100%;
}

.ReactTabs {
  width: 80%;
  background-color: #f7f7f7;
}
.ReactTabs__TabList {
  background-color: #a8a2aa;
  text-align: left;
  margin: 0 !important;
}
.ReactTabs__TabPanel {
  background-color: #f7f7f7;
  padding: 1em 1.5em !important;
  width: 100%;
  height: 3em;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ReactTabs__Tab {
  padding: 1em !important;
}
.ReactTabs__Tab--selected {
  background-color: #f7f7f7 !important;
}
.ReactTabs__Tab > span {
  font-size: 1.5em;
  margin-right: .5em;
}
.block {
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.interactive-chart {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.interactive-chart > h4 {
  padding: 1em 0 .5em 0;
}
.chart {
  width: 60%;
}
.metric-select, .rate-select {
  width: 20%;
}
.time-group {
  display: inline-flex;
  width: 100%;
  padding-bottom: 1em;
}
.time-group > p {
  padding: 0 1em 0 0;
}
.time-group > input {
  margin: 0 .25em;
  padding: .25em 1.5em;
  border-radius: .5em;
  border: none;
}
.value-checkbox {
  font-size: .4em;
  width: auto;
  padding: .5em;
}
.value-checkbox li {
  list-style: none;
  display: inline;
}

/*input.checked  {
  background: red;
  -webkit-appearance: none;
  -moz-appesarance: none;
  height: 14px;
  width: 14px;
  border-radius: 5px;
}*/

.rd3-chart-title {
  padding: .25em;
}
.footer {
  /*position: static;*/
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 4vh;
  background-color: #a8a2aa;
  padding: 2em;
}
