@simple-line-font-path: "../node_modules/simple-line-icons/fonts";
@simple-line-font-family: "desired-name-font-family";
@simple-line-icon-prefix: prefix-;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 2vw;
}

svg {
  /*background-color: darkslategray;*/
  /*background-image:*/
  /*linear-gradient( 45deg, blue, red);*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #222;
  min-height: 50px;
  padding: 20px;
  color: white;
}

.header h1 {

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main h2 {
  width: 100%;
  padding: 1em;
}
.section-sidebar {
  width: 20%;
  height: 100vh;
  color: white;
}
.company-header {
  background-color: #351c29;
}
.sections {
  background-image:
  linear-gradient( #6a273a, #351c29);
}
.user-header {
  font-size: 2em;
}
.ReactTabs {
  width: 80%;
}
.ReactTabs__TabPanel {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.chart {
  width: 80%;
}
.metric-sidebar {
  width: 20%;
}

.metric-checkbox {
  font-size: .4em;
  width: auto;
  padding: .5em;
}
.metric-checkbox li {
  list-style: none;
  display: inline;
}
/*.metric-checkbox input {
  margin-left: .5em;
}*/
g.tick text {
  fill: white;
}
/*input.checked  {
  background: red;
  -webkit-appearance: none;
  -moz-appesarance: none;
  height: 14px;
  width: 14px;
  border-radius: 5px;
}*/

.rd3-chart-title {
  padding: .25em;
}
.ReactTabs__Tab--selected {
  color: red;
}
